body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	padding: 8px;
}
.postcard-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0%;
}
.postcard-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 6px;
}
.body-left,
.body-right {
	width: 200px;
}
.body-left {
	padding-top: 4px;
	font-family: "Times New Roman", Times, serif;
}
.body-left-text {
	font-size: 12px;
	margin: 0;
	margin-bottom: 8px;
}
.body-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body-right-text {
	margin: 0;
	border-bottom: 1px solid #cecece;
	padding-bottom: 3px;
	margin-bottom: 5px;
	color: #a09491;
	font-size: 12px;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: red;
	padding: 10px;
}
